.root {
	-fx-background-color: #F0F4F8
}
#files{
	-fx-graphic:url("/application/files.png") 
}
#zoom1{
	-fx-graphic:url("/application/zoomplus.png")
}
#zoom2{
	-fx-graphic:url("/application/zoom-.png")
}
#save{
	-fx-graphic:url("/application/save.png")
}
#componants{
	-fx-graphic:url("/application/component.png")
}
#nightView{
	-fx-graphic:url("/application/night.png")
}
#undo{
	-fx-graphic:url("/application/undo.png")
}